:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: #213547;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	place-items: center;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1;
}

h1,
h2 {
	margin: 8px;
}

p {
	padding: 0 1rem;
}

a {
	color: inherit;
	text-decoration: none;
}

textarea {
	padding: 0.6em;
}

button {
	padding: 0.6em 1.2em;
	cursor: pointer;
	font-weight: 500;
}

button[disabled] {
	cursor: not-allowed;
}

textarea:hover,
button:not([disabled]):hover {
	border-color: black;
}

textarea:focus,
textarea:focus-visible {
	outline: 4px auto black;
}

@media (max-width: 768px) {
	h1 {
		font-size: 2.4em;
	}
}
